.contact-us    
    background-image: linear-gradient(to top, rgba(20, 30, 48, 0.35), rgba(36, 59, 85, 0))
    padding: 100px 0 150px
    
    &__title
        text-align: center
        margin-bottom: 5px
        
    &__descr
        text-align: center
        margin-bottom: 55px

    &__wrapper
        display: flex
        flex-direction: column
        background-color: $white

        padding: 40px 35px
        border-radius: $border-radius

        width: 57%

        box-shadow: $box-shadow

    &__label
        width: calc(50% - 20px)
        
        &:last-child
            width: 100%

        .label__text
            color: $gray
            font-size: $fs14
            
            position: relative
            right: -40px
            bottom: -7px
            z-index: 3

            &:before
                display: block
                content: ""

                height: 50%
                width: 100%

                position: absolute
                bottom: 0
                left: 0
                right: 0
                z-index: -1
                
                background-color: lighten($light-gray, 10%)
        
    &__input
        width: 100%
        border-radius: $button-border-radius
        border: 1px solid $light-gray
        background-color: lighten($light-gray, 10%)

        position: relative
        padding: 15px

        &::placeholder
            position: absolute
            top: -20px
            left: 15px

        &:not(:last-child)
            margin: 0 10px 40px

        &-group
            display: flex
            flex-wrap: wrap
            justify-content: space-between

            margin: 0 -10px

        &:last-child
            margin: 0 10px 35px

    &__button

    &__form
        display: flex
        flex-direction: column
        align-items: center