.hero
    padding: 190px 0 115px
    position: relative
    
    background: url(../assets/hero-bg.png) no-repeat bottom
    background-size: cover
    
    @media screen and (max-width: $small)
        padding: 130px 0 45px

    &::after,
    &::before
        display: block
        content: ""

        position: absolute

        @media screen and (max-width: $small)
            display: none

    &::after
        // background: url(../assets/top-right-shape.svg) no-repeat center center   
        top: 0
        right: 0 
        width: 375px
        height: 325px

    &::before
        // background: url(../assets/left-bottom-shape.svg) no-repeat center center
        bottom: 0
        left: 0
        width: 350px
        height: 700px

    &-wrapper
        display: flex
        flex-direction: column
        align-items: center

    &__title
        text-align: center
        margin-bottom: 20px

    &__description
        text-align: center
        margin-bottom: 50px
        width: 45.3125%

        @media screen and (max-width: $small)
            width: 100%

    &__button