.showcase
    display: flex
    flex-direction: column
    align-items: center

    width: calc(100% / 3)

    &__title
    &__descr
        text-align: center
        font-size: $fs18

        width: 70%

    &s
        display: flex
        justify-content: space-between

        &__title
            margin-bottom: 10px
        &__descr
            width: 47.578125%
            margin-bottom: 40px
            text-align: center
            
        &-wrapper
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            padding: 107px 0 127px