.button
    padding: 1.7rem

    box-shadow: 1px 4px 10px 0 rgba(50, 9, 9, 0.3)
    background-image: linear-gradient(101deg, #e23e57, #cf2f3e 51%, #bc2026)
    color: $white
    font-weight: bold
    text-transform: uppercase
    transition: $transition
    font-size: $fs16
    border-radius: $button-border-radius
    cursor: pointer

    position: relative
    z-index: 2

    &:active
        transform: scale(.97)

    &::after
        display: block
        content: ""

        position: absolute
        left: 50%
        top: 50%

        transform: translate3d(-50%, -50%, 0)

        width: 100%
        height: 100%

        box-shadow: 0 0 0px 0px rgba($red, 1)
        z-index: -1

        border-radius: $button-border-radius * 2

    &:hover::after
        transition: .3s all ease
        box-shadow: inset 0 0 20px 10px rgba($red, 1)

    &:active::after
        // transition: .3s all ease-in-out
        // box-shadow: inset 0 0 20px 10px rgba($red, 1)
