*,
*::after,
*::before
    box-sizing: inherit

html
    font-size: 62.5%
    box-sizing: border-box

body
    font: 1.6rem/1 $sourcesanspro-font
    overflow-x: hidden
    min-height: 100vh

code
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace


a:visited,
a:link,
a:active
    text-decoration: none
    color: inherit


ul
    list-style: none


button,
input
    border: none
    background: none
    outline: none
    appearance: none
