h1,
h2
    font-family: $spectral-font
    font-weight: bold
    margin: 0

h1
    font-size: $fs56

h2
    font-size: $fs32

h3
    font-size: $fs20

p
    margin: 0
    padding: 0
    line-height: 1.33   
    font-size: $fs24
    color: $gray