$black: #222
$white: #fff
$gray: #504f5b
$orange: #FF4C00
$red: #bc2026
$light-gray: #dddddd

$border-radius: 5px
$button-border-radius: 28px

$default-fonts: Arial, Helvetica, sans-serif
$spectral-font: 'Spectral', $default-fonts
$sourcesanspro-font: 'Source Sans Pro', $default-fonts

$box-shadow: 0 7px 15px 0 rgba(17, 17, 28, 0.1)

$transition: all .2s ease-in-out

$fs36: 3.6rem
$fs24: 2.4rem
$fs56: 5.6rem
$fs18: 1.8rem
$fs32: 3.2rem
$fs20: 2rem
$fs28: 2.8rem
$fs14: 1.4rem
$fs16: 1.6rem

$extra-large: 1920px;
$large: 1200px;
$medium: 1024px;
$small: 650px;